[BEGINVDF]
Comment=Gothic - Sound Sfx Data (%%D)%%N(C) 1999, 2002 Piranha Bytes Software GmbH%%N
BaseDir=..\..\..\..
VDFName=..\..\..\..\Data\Sounds.vdf
[FILES]
_work\Data\Sound\Sfx\*.WAV
[EXCLUDE]
[INCLUDE]
[ENDVDF]
